.container {
    display: flex;
}

html {
    margin: 0px;
    height: 100%
}

body {
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

#grid {
    display: grid;
}

.gridPiece {
    background-color: antiquewhite;
}

.hovered {
    background-color: gray;
}

button {
    align-self: center;
    height: 300px;
    width: 300px;
    border-style: none;
    border-radius: 100px;
}

.body,
.input {
    flex-direction: column;
}

.header {
    background-color: red;
    flex-grow: 1;
}

.bottom {
    background-color: red;
    flex-grow: 1;
}

.left-spacer,
.right-spacer {
    background-color: red;
    flex-grow: 1;
    justify-content: center;
}

.clicked {
    background-color: lightgray;
}